@using Encommerce_Model;
@{
    ViewBag.Title = "Home Page";
    List<Product> listProductSelling = ViewBag.ProductSelling;
    List<Product> listNewProduct = ViewBag.NewProduct;
    List<Feedback> listComment = ViewBag.Comment;
}
<!--Sản phẩm đang giảm giá-->
<div class="top-brands">
    <div class="container">
        <h3>Products For Sale</h3>
        <div class="agile_top_brands_grids">
            @foreach (var item in listProductSelling)
            {
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="tag"><img src="~/Content/images/@item.Image" alt=" " class="img-responsive" /></div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Details","Home",new { id = item.ID_Product })"><img title=" " alt=" " src="~/Content/images/@item.Image" class="img-responsive" /></a>
                                            <p>@item.ProductName</p>
                                            <h4>$@item.Price</h4>
                                            <h5>Discount: $@item.Sale <br />@Html.ActionLink("Details", "Details", new { id = item.ID_Product })</h5>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="checkout.html" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="business" value=" " />
                                                    <input type="hidden" name="item_name" value="@item.ProductName" />
                                                    <input type="hidden" name="amount" value="@item.Price" />
                                                    <input type="hidden" name="discount_amount" value="@item.Sale)" />
                                                    <input type="hidden" name="currency_code" value="USD" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                </fieldset>

                                            </form>

                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                }
                <div class="clearfix"> </div>
            </div>
    </div>
</div>
<!--Sản Phẩm mới-->
<div class="top-brands">
    <div class="container">
        <h3>New Products</h3>
        <div class="agile_top_brands_grids">
            @foreach (var item in listNewProduct)
            {
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="tag"><img src="~/Content/images/@item.Image" alt=" " class="img-responsive" /></div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Details","Home",new { id = item.ID_Product })"><img title=" " alt=" " src="~/Content/images/@item.Image" class="img-responsive" /></a>
                                            <p>@item.ProductName</p>
                                            <h4>$@item.Price</h4>
                                            <h5>Discount: $@item.Sale </h5><br />@Html.ActionLink("Details", "Details", new { id = item.ID_Product })
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="checkout.html" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="business" value=" " />
                                                    <input type="hidden" name="item_name" value="@item.ProductName" />
                                                    <input type="hidden" name="amount" value="@item.Price" />
                                                    <input type="hidden" name="discount_amount" value="@item.Sale)" />
                                                    <input type="hidden" name="currency_code" value="USD" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                </fieldset>

                                            </form>

                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="top-brands">
    <div class="container">
        <h3>Comment</h3>
        <div class="agile_top_brands_grids">
            <p>
                 @Html.ActionLink("Create New", "Create", "Feedbacks")
            </p>
            @foreach (var item in listComment)
            {
            
            <br />
           
            <tr>
                <td style="font-family:.VnArabia">
                    @Html.DisplayFor(modelItem => item.User.UserName):
                </td>
               
                     <td>
                         &nbsp;     @Html.DisplayFor(modelItem => item.FeedbackContent)
                     </td>
                <br />
            </tr>
            }
        </div>
    </div>
</div>