@model Encommerce_Model.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details Product</h2>

    <hr />
    <dl class="dl-horizontal">
<table class="table" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sale)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PriceF)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DateManufacture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionDTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Update)
        </th>
        <th></th>
    </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProductName)
            </td>
            <td>
                <img src="~/Content/images/@Model.Image" width="100px" height="80px" />
            </td>
            <td>
                @Html.DisplayFor(model => model.Origin)
            </td>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
            <td>
                @Html.DisplayFor(model => model.Unit)
            </td>
            <td>
                @Html.DisplayFor(model => model.Sale)
            </td>
            @*<td>
                @Html.DisplayFor(model => model.PriceF)
            </td>*@
            <td>
                @Html.DisplayFor(model => model.DateManufacture)
            </td>
            <td>
                @Html.DisplayFor(model => model.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.DescriptionDTS)
            </td>
            <td>
                @Html.DisplayFor(model => model.Update)
            </td>
         
        </tr>
</table>
        </dl>
<p>
    <a style="text-align:center">
        @Html.ActionLink("<< Back to List", "Index")
    </a>
</p>