@model IEnumerable<Encommerce_Model.Category>

@{
    ViewBag.Title = "Index";
}

<h2>@Html.ActionLink("Create New Category ", "Create")<a><i class="fa fa-plus-circle"></i></a></h2>

<p>
    <br />
    @using (Html.BeginForm("Index", "Categories", FormMethod.Get))
    {
    <p>
        CategoryName: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    }
</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_Category }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_Category }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_Category })
                </td>
            </tr>
        }

    </table>




