@model Encommerce_Model.OrderDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDetailsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDetailsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ODate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ODate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_OrderDetails }) |
    @Html.ActionLink("Back to List", "Index")
</p>
